{% extends "layout.html" %}
{% block body %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/css/login.css')}}">

<form id="login_form" class="modal-content animate" style="max-width:350px;" method="POST" action="/manager">
    <div class="imgcontainer">
        <img src="{{url_for('static', filename='img/hanover_logo.png')}}" alt="Hanover" class="avatar" asp-append-version="true" />
    </div>


    <div class="container">

        <div class="form-group">
            <label for="uname" id="uname_label" class="control-label"><b>Username</b></label>
            <span role="alert" id="uname_error" style="color:red;">*</span>
            <input type="text" placeholder="Enter Username" id="uname" class="form-control" style="margin-top: 0px;" name="uname" />
        </div>

        <div class="form-group">
            <label for="psw" id="psw_label" class="control-label"><b>Password</b></label>
            <span role="alert" id="psw_error" style="color:red;">*</span>
            <div class="input-group">
                <input type="password" placeholder="Enter Password" class="form-control absconditus" style="margin-top: 0px;" id="psw" name="psw" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-view-password" id="password_btn">
                        <span id="psw_eye" class="fa fa-eye" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>


        <button class="login" type="submit" id="login_button">Login <div class='loader d-none'></div></button>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div id="alert" class="alert alert-danger" role="alert" style="text-align:center; margin-top:5px;">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}

    </div>
</form>

<script type="text/javascript">
    var login_failed = "Your login attempt was not successful.<br/>Please try again."
    var request_failed = "Database is not responding.<br/>Please contact Hanover."

    $("#uname").focusin(function () {
        $("#uproject_error").hide();
        $("#uname_error").hide();
        $("#psw_error").hide();
        $("#alert").addClass("d-none");
    })

    $("#psw").focusin(function () {
        $("#uproject_error").hide();
        $("#uname_error").hide();
        $("#psw_error").hide();
        $("#alert").addClass("d-none");
    })

    //Show/hide Password  
    $('#password_btn').click(function () {
        if ($('#psw').prop('type') == 'password') {
            $('#psw').attr('type', 'text')
            $('#psw_eye').removeClass('fa fa-eye').addClass('fa fa-eye-slash')
        }
        else {
            $('#psw').attr('type', 'password')
            $('#psw_eye').removeClass('fa fa-eye-slash').addClass('fa fa-eye')
        }
    })
</script>

{% endblock %}